.bank-items-panel {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0;
  height: 700px;

  .bank-logo {
    color: #0175bd;
    font-size: 2rem;
    width: 200px;
    height: 200px;
  }
}

.map-panel {
  padding-left: 0;
}
